/*TODO:Padding is calculated as a percentage of the element width even for height!
So you specify 100% of container width which is square so 50% of body width.
This create a response square more easily.*/
body {
    margin: 0%;
}
/*Need to put the second @@ since this is a razor file which specifies commands with at symbol */
@keyframes sweep {
    0% {
        transform: rotate(30deg)
    }
    50% {
        transform: rotate(-30deg)
    }
    100% {
        transform: rotate(30deg)
    }
}
.square {
    width: 19%;
    border: dashed;
    display: inline-block;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle{
    border-radius:40%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}