.baseStyle{
    float:left;
    /*margin:10px;*/
    position:relative;
    width:25%;
    height:25%;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.initial{
    background-image: radial-gradient(center center, circle, blue, #37FDFC);
    background-image: -moz-radial-gradient(center center, circle, blue, #37FDFC);
    background-image: -webkit-radial-gradient(center center, circle, blue,#37FDFC);
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;

}
.clicked {
    background-image: radial-gradient(center center, circle, green, #37FDFC);
    background-image: -moz-radial-gradient(center center, circle, green, #37FDFC);
    background-image: -webkit-radial-gradient(center center, circle, green,#37FDFC);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.toBeClicked {
    background-image: radial-gradient(center center, circle, red, #37FDFC);
    background-image: -moz-radial-gradient(center center, circle, red, #37FDFC);
    background-image: -webkit-radial-gradient(center center, circle, red,#37FDFC);
    transition: all 5s;
}
.missed {   
    background-image: radial-gradient(center center, circle, black, #37FDFC);
    background-image: -moz-radial-gradient(center center, circle, black, #37FDFC);
    background-image: -webkit-radial-gradient(center center, circle, black,#37FDFC);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.nonClick{
    background-image: radial-gradient(center center, circle, yellow, #37FDFC);
    background-image: -moz-radial-gradient(center center, circle, yellow, #37FDFC);
    background-image: -webkit-radial-gradient(center center, circle, yellow,#37FDFC);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}



