@import url(http://fonts.googleapis.com/css?family=Pacifico);

div {
    font-family: 'Pacifico', cursive;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
    display:table;
    font-size:40px;
    z-index:100;
    color:red;
}
p {
    display:table-row;
    vertical-align:middle;
    opacity:0;
    transition: all 1s;
}
.expose{
    opacity:1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

@keyframes blinker {  
  0% { opacity: 0; }
  50% { opacity: 1.0; }
  100% { opacity: 0; }
}

.blink {
  animation: blinker 1s linear infinite;
}
